@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Machines</h2>
<hr><br>

<p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName, "Machine Name: ")
  @Html.TextBoxFor(model => model.MachineName)

  @Html.LabelFor(model => model.Description, "Description: ")
  @Html.TextBoxFor(model => model.Description)

  <input type="submit" value="Add new machine" class="btn btn-primary" />
}

<p>@Html.ActionLink("Show all machines", "Index")</p>