@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine;

<h2>Machine Details</h2>
<hr><br>

<h4>@Html.Label("Machine Name"): <em>@Html.DisplayFor(model => model.MachineName)</em></h4>
<h6>@Html.Label("Description"): <em>@Html.DisplayFor(model => model.Description)</em></h6><br>

@if(@Model.JoinEntities.Count == 0)
{
  <p>There are currently no engineers listed that are licensed to repair this machine!</p>
}
else
{
  <h6>Engineers licensed to repair/operate this machine:</h6>
  <ul>
    @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>@join.Engineer.EngineerName</li>
      @using (Html.BeginForm("DeleteJoin", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Remove Engineer" class="btn btn-warning"/>
      }
    }
  </ul>
}
<hr><br>
<p>@Html.ActionLink("Add engineer for this machine", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to machines list", "Index")</p>
