@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr><br>

<h4>@Html.Label("Engineer Name"): <em>@Html.DisplayFor(model => model.EngineerName)</em></h4>
<br>
@if(@Model.JoinEntities.Count == 0)
{
  <p>There are currently no machines listed that this engineer is licensed to repair!</p>
}
else
{
  <h6>Licensed to repair/operate the following machines:</h6>
  <ul>
    @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>@join.Machine.MachineName</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Remove Machine" class="btn btn-warning"/>
      }
    }
  </ul>
}
<hr><br>
<p>@Html.ActionLink("Add a machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to engineers list", "Index")</p>